.ui-menu.ui-widget li > .ui-menuitem-link {
    border-width: 1px 0;
    padding: 0.9em 0;
    width: 100%;
}

.ui-panelmenu .ui-panelmenu-header a {
  color: cornflowerblue;
  text-decoration: none;
}


.ui-widget, .ui-widget .ui-widget {
    font-size: 95%;
}