<div id="page-wrapper" ng-controller="formController">

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Encerramento de Hospedagem</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Check-in</label>  
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                </div>
                <label class="col-md-4 control-label" for="textinput">Check-out</label>  
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Check-out</label>  
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Select Multiple -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectmultiple">Servicos do hotel</label>
                <div class="col-md-4">
                    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                        <option value="1">servico 1</option>
                        <option value="2">servico 2</option>
                        <option value="">servico 3</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Valor</label>  
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="0.00" class="form-control input-md">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-warning">Cancelar</button>
                    <button id="button2id" name="button2id" class="btn btn-success">OK</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>