<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Materiais <small>Controle de materiais</small></h1>
            <ol class="breadcrumb">
                <li><a href="#/main"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-bar-chart-o"></i> Materiais</li>
            </ol>
            <!--            <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            There are two options for charts: <a href="http://www.flotcharts.org/" target="_blank" class="alert-link">Flot charts</a> and <a href="http://www.oesmith.co.uk/morris.js/" class="alert-link" target="_blank">morris.js</a>. Choose which one best suits your needs, and make sure to master the documentation to get the most out of these charts!
                        </div>-->
        </div>
    </div>




    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-save"></i> Cadastrar</h3>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Tipo</label>  
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Descrição</label>  
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Marca</label>  
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Qtd.</label>  
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="number" placeholder="" class="form-control input-md">
                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button id="button1id" name="button1id" class="btn btn-warning">Cancelar</button>
                                    <button id="button2id" name="button2id" class="btn btn-success">OK</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-lg-4">
            <form class="form-horizontal">
                <fieldset>
                    <!--                    <legend>Busca</legend>-->
                    <div class="form-group">
                        <label class="col-md-1 control-label" for="textinput">Tipo</label>  
                        <div class="col-md-4">
                            <input ng-model="searchText.gearType" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Materiais</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped tablesorter">
                            <thead>
                                <tr>
                                    <th>Id <i class="fa fa-tag"></i></th>
                                    <th>Tipo <i class="fa fa-sort"></i></th>
                                    <th>Detalhe <i class="fa fa-sort"></i></th>
                                    <th>Marca <i class="fa fa-sort"></i></th>
                                    <th>Qtd. <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gear in gears | filter:searchText">
                                    <td>{{gear.id}}</td>
                                    <td>{{gear.gearType}}</td>
                                    <td>{{gear.details}}</td>
                                    <td>{{gear.mark}}</td>
                                    <td>{{gear.available}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>