.ui-menu.ui-widget li > .ui-menuitem-link {
    border-width: 1px 0;
    padding: 0.9em 0;
    width: 100%;
}

.ui-panelmenu .ui-panelmenu-header a {
    text-decoration: none;
    padding: 0.6em 0.6em 0.6em 4em;
}

.ui-panelgrid tr, .ui-panelgrid td {
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell {
    border-width: 1px;
    border-style: none;
    border-color: inherit;
    padding: 4px 10px;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 95%; 
}

.ui-panelmenu .ui-widget{
    width: 210px;
}

.ui-datatable-tablewrapper table tr td {
    text-align: center;
}
